<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tempora explicabo, dolorum dolorem eveniet vitae, ipsam ab dolore quidem animi, dolor magnam quibusdam omnis et! Officiis iste ad nostrum tenetur?</p>
    <a href="{% url 'write' %}"><h2>GO TO TODOLIST</h2></a>
    
</body>
</html>