{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'write' %}"><h4><-</a>  
    <div class="post">
        <h1>{{post.title}}</h1>    
        <p>{{post.text}}</p>
        {% if post.created_date %}
            <div class="date">
                {{post.created_date}}
            </div>
        {% endif %}
    </div>
    <div class="edit">
        <a href="{% url 'post_edit' pk=post.pk %}">edit</a>
    </div>
    <div class="delete">
        <a href="{% url 'post_delete' pk=post.pk %}">delete</a>
    </div>
{% endblock %}